*.o
*.a
*.cmake
*.make
Makefile
link.txt
progress.marks
C.includecache
depend.internal
depend.make
CMakeCache.txt
CMakeFiles/
Docs/
VERSION.dep
include/config.h
include/my_config.h
extra/comp_err
extra/perror
sql/gen_lex_hash
sql/libsqlparser-debug.dylib
